<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthenticationService" />
        <binding name="BasicHttpBinding_IAuthenticationService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50882/AuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
        contract="IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
      <endpoint address="http://localhost:50882/AuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService1"
        contract="AuthenticationReference.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService1" />
    </client>
  </system.serviceModel>
</configuration>